<app-component>
    <div class="row">
        <div class="col-md-12">
            <span class="glyphicon glyphicon-repeat normal-right-spinner"></span>&nbsp;Loading...
        </div>
    </div>
</app-component>