<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <title>.NET Core, Angular & Mongo App</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Angular">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="lib/bootstrap/dist/css/bootstrap-paper.min.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />

    <!-- Scripts if using SystemJS (webpack is another option - see readme)-->
    <!-- Polyfill(s) for older browsers -->
    <script src="lib/shim.min.js"></script>
    <script src="lib/zone.js"></script>
    <script src="lib/system.src.js"></script>
    <script src="systemjs.config.js"></script>
    <script>
        System.import('app').catch(function (err) { console.error(err); });
    </script>

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="./home" class="navbar-brand">
                    <img src="images/ma-dot-net.png" alt="logo" class="logo" />
                </a>
                <a href="./home" class="navbar-brand">Products Store</a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li><a href="./home">Home</a></li>
                    <li><a href="./customers">Customers</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="main">
            @RenderBody()

            <footer>
                <div class="row">
                    <div class="col-md-12">
                        Created by <a href="https://www.linkedin.com/in/carlos-anaya-6098bb4b" target="_blank">Carlos Anaya</a>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <form asp-antiforgery="true"></form>

    <!--
        If using webpack and AOT comment out system.js
        scripts in head and add webpack bundle scripts from
        devDist (dev mode) or dist (production mode)here.
    -->

</body>
</html>