<div class="container">
    <header>
        <h3>
            <span class="glyphicon glyphicon-user"></span>
            {{ title }}
        </h3>
    </header>
    <br />
    <div class="row">
        <div class="col-md-8">
            <div class="form-inline">
                <div class="form-group">
                    <label for="filterBy">Filter by:</label>
                    <input type="text" class="form-control" id="filterBy">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <a class="btn btn-primary">Add new customer!</a>
        </div>
    </div>
    <br />
    <customers-grid [customers]="filteredCustomers"></customers-grid>
</div>