<div class="container">
    <header>
        <h3>
            <span class="glyphicon glyphicon-user"></span>
            {{ customer.firstName + ' ' + customer.lastName}}
        </h3>
    </header>
    <br />
    <div class="alert alert-danger" *ngIf="errorMessage">{{ errorMessage }}</div>
    <form class="form-horizontal" (ngSubmit)="submit(customerForm);" [formGroup]="customerForm" novalidate>
        <div class="form-group">
            <label class="control-label col-sm-2" for="firstName">First Name:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="firstName" formControlName="firstName">
                <span class="text-danger" [hidden]="customerForm.controls.firstName.untouched || customerForm.controls.firstName.valid">
                    *First name is required
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="lastName">Last Name:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="lastName" formControlName="lastName">
                <span class="text-danger" [hidden]="customerForm.controls.lastName.untouched || customerForm.controls.lastName.valid">
                    *Last name is required
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="gender">Gender:</label>
            <div class="col-sm-10">
                <div class="radio">
                    <label>
                        <input type="radio" id="gender" value="Male" formControlName="gender">Male
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="gender" value="Female" formControlName="gender">Female
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Email:</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="email" formControlName="email">
                <span class="text-danger" [hidden]="customerForm.controls.email.untouched || customerForm.controls.email.valid">
                    *Email is required
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="address">Address:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="address" formControlName="address">
                <span class="text-danger" [hidden]="customerForm.controls.address.untouched || customerForm.controls.address.valid">
                    *Address is required
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="city">City:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="city" formControlName="city">
                <span class="text-danger" [hidden]="customerForm.controls.city.untouched || customerForm.controls.city.valid">
                    *City is required
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="state">State:</label>
            <div class="col-sm-10">
                <select class="form-control" id="state" formControlName="stateId" (change)="updateCustomerState();">
                    <option *ngFor="let state of states" [ngValue]="state.id">{{state.name}}</option>
                </select>
            </div>
        </div>
        <div class="form-group" *ngIf="customer">
            <div class="col-sm-6" *ngIf="customer.id && deleteMessageEnabled">
                <div class="alert alert-warning">
                    Are you sure you want to delete the customer?&nbsp;
                    <button class="btn btn-danger" (click)="delete($event)">Yes</button>
                    <button class="btn btn-default" (click)="deleteMessageEnabled = false">No</button>
                </div>
            </div>
            <div class="col-sm-2 text-right">
                <div *ngIf="!deleteMessageEnabled && customer.id">
                    <button class="btn btn-danger" (click)="deleteMessageEnabled = true">Delete</button>
                </div>
            </div>
            <div class="col-sm-4" *ngIf="!deleteMessageEnabled">
                <button class="btn btn-default" (click)="cancel($event)">Cancel</button>
                <button type="submit" class="btn btn-success" [disabled]="!customerForm.valid">{{ operationText }}</button>
            </div>
        </div>
    </form>
</div>